body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  align-items: center;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  border-radius: 8px;
}

.top-section {
  display: flex;
  flex: 1;
  gap: 10px;
  height: 70%; /* Height of the top section */
}


  /* Left Section (Main Title + Map Content + Filters) */
  .side-left-section {
    flex: 1; /* Occupies 2/3 of the top section */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between elements */
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 8px;
  }

    /* Main Title */
    .main-title {
      font-size: 1.6vw;
      font-weight: bold;
      color: #004080; /* Dark blue for emphasis */
      text-align: center;
      background-color: #f7f7f7;
      padding: 5px 0px;
      border-radius: 8px;
    }

    /* Map Content Container (Map Title + Map) */
    .map-content-container {
      flex: 1; 
      display: flex;
      flex-direction: column;
      gap: 10px; /* Space between the title and map */
      border-radius: 8px;
      background-color: #f7f7f7; /* Light blue background */
    }

          /* Map Title */
          .map-title {
            margin-top: 0.5vw;
            margin-left: 0.5vw;
            font-size: 1.3vw;
            font-weight: bold;
            text-align: center;
            color: #333333;
          }

          /* Map */
          .map {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white; /* Ensure text is visible */
            border-radius: 8px;
            width: 100%;
          }

        

.map-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: lightgray;
  border-radius: 8px;

}


.tooltip {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.7); /* Gris avec transparence */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9vw;
  pointer-events: none;
  z-index: 1000; /* Assure que le tooltip est au-dessus de la carte */
  opacity: 0;
  transition: opacity 0.2s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour plus de visibilité */
}


.stations-layer {
  pointer-events: none; /* Désactive les interactions de la souris */
}

.timeline {
  width: calc(100% - 22px); 
  margin: 0 auto; /* Centre horizontalement */
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden; /* Empêche tout débordement */
}

.filters {
  flex: 0.05;
  background-color: #ededed;
  padding: 10px;
  display: flex; /* Important pour activer Flexbox */
  justify-content: center; /* Centre les enfants horizontalement */
  align-items: center; /* Centre les enfants verticalement */
  border-radius: 8px;
  font-size: 1vw;
  gap: 6px; /* Ajoute un espace entre les filtres */
}

.checkbox-container input[type="checkbox"] {
  width: 0.8vw; /* Taille proportionnelle à la largeur de l'écran */
  height: 0.8vw; /* Taille proportionnelle à la largeur de l'écran */
  min-width: 16px; /* Taille minimale pour éviter qu'elles ne soient trop petites */
  min-height: 16px;
  margin-right: 10px;
  justify-content: center; /* Centre les enfants horizontalement */
  align-items: center; /* Centre les enfants verticalement */
}

.checkbox-container {
  display: flex; /* Permet d'aligner les checkbox et labels */
  align-items: center; /* Centre verticalement la checkbox et le label */
  gap: 5px; /* Espace entre la checkbox et son label */
  padding-left: 1.5vw; /* Ajoutez de l'espace à gauche des filtres */
}

.side-section {
  flex: 1; /* Occupies 1/3 of the top section */
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: #f7f7f7;
  padding-left: 10px;  
  padding-right: 10px;
  border-radius: 8px;
}


.linegraph-container {
  flex: 1; /* Utilise tout l'espace disponible dans la section */
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  gap: 10px; /* Espace entre le titre et le contenu */
  background-color: #f7f7f7; /* Couleur de fond neutre */
  padding: 10px;
  border-radius: 8px;
  overflow: hidden; /* Empêche le débordement pour le conteneur global */
}

.linegraph-title{
  font-size: 1.3vw;
  font-weight: bold;
  color: #333333;
  text-align: center; /* Centré */
  margin: 0; /* Supprime les marges par défaut */
  padding: 10px 0; /* Ajoute un peu d'espace vertical */
  border-bottom: 1px solid #d1d1d6; /* Ligne en bas pour séparer du contenu */
}

.linegraph {
  flex: 1;
  background-color: #f7f7f7; /* Ajoutez une couleur de fond pour vérifier */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.linegraph-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.legend-item span {
  font-size: 1vw;
  margin-left: 5px;
}



/* Container pour les incentives (contient le titre et la liste) */
.incentives-container {
  flex: 1; /* Utilise tout l'espace disponible dans la section */
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  gap: 10px; /* Espace entre le titre et le contenu */
  background-color: #f7f7f7; /* Couleur de fond neutre */
  padding: 10px;
  border-radius: 8px;
  overflow: hidden; /* Empêche le débordement pour le conteneur global */
}

/* Titre pour les incentives */
.incentives-title {
  font-size: 1.3vw;
  font-weight: bold;
  color: #333333;
  text-align: center; /* Centré */
  margin: 0; /* Supprime les marges par défaut */
  padding: 10px 0; /* Ajoute un peu d'espace vertical */
  border-bottom: 1px solid #d1d1d6; /* Ligne en bas pour séparer du contenu */
}

/* Contenu des incentives (liste défilante) */
.incentives {
  flex: 1; /* Prend tout l'espace restant dans le container */
  background-color: #f7f7f7; /* Couleur de fond blanche pour contraste */
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto; /* Scroll vertical si le contenu dépasse */
  overflow-x: hidden; /* Empêche le scroll horizontal */
  scrollbar-width: thin; /* Barre de défilement fine pour Firefox */
  scrollbar-color: #c1c1c1 #f9f9f9; /* Couleurs de la barre pour Firefox */
}

/* Customisation de la scrollbar pour Chrome, Edge, Safari */
.incentives::-webkit-scrollbar {
  width: 8px; /* Largeur de la scrollbar */
}

.incentives::-webkit-scrollbar-track {
  background: #f9f9f9; /* Couleur de fond de la track */
}

.incentives::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* Couleur de la barre */
  border-radius: 8px; /* Arrondie */
}

.types-container img {
  width: 50px; /* Largeur identique */
  height: 50px; /* Hauteur identique */
  object-fit: contain; /* Maintenir les proportions sans étirer */
  margin-right: 10px; /* Espacement régulier entre les images */
  line-height: 1; /* Réduire l'espace réservé au texte dans l'image */
  vertical-align: middle; /* Alignement au centre verticalement */
}

.types-container {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Répartir uniformément l'espace */
  gap: 15px; /* Espacement entre les icônes */
}


.x-axis{
  font-size: 0.8vw;
}

.y-axis-sales{
  font-size:0.8vw;
}

.y-axis-stations{
  font-size:0.8vw;
}
.selection {
  fill: rgba(70, 130, 180, 0.3); /* Ajustez la couleur et la transparence */
}

.handle {
  fill: steelblue;
  cursor: ew-resize;
}

.checkbox-container{
  display: block;
  flex: 1;
}